digraph world {
    pad="{{ pad }}"
    nodesep={{ nodesep }}
    ranksep={{ ranksep }}
    {% if spline %}splines={{ spline }}{% endif %}
    newrank={{ newrank }}
    compound={{ compound }}
    fontname="{{ font }}"
    node [fontname="{{ font }}"]
    edge [
        fontname="{{ font }}"
        color="gray"
    ]
    graph [
        rankdir = "LR"
    ];
    node [
        fontsize = {{ node_fontsize }}
    ];

    subgraph cluster_schema {
        color = "#aaa"
        margin={{ cluster_margin }}
        style="dashed"
        label="  ER Diagram"
        labeljust="l"
        fontsize="20"
        {{ er_cluster }}
    }

    {{ links }}
}
